<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Document</title>
  </head>
  <body>
    <div>백엔드 화면입니다~~</div>
    <button id="push">누르기</button>
    <script>
      const button = document.getElementById("push");
      button.addEventListener("click", function () {
        axios({
          method: "POST",
          url: "/test",
          data: {
            id: 1,
            userid: 2,
            pw: 3,
            name: 4,
          },
        })
          .then((res) => {
            console.log("성공적으로 보냈음", res);
          })
          .catch((res) => {
            console.log("에러!!", res);
          });
      });
    </script>
  </body>
</html>
